.website-name {
    font-size: 100px;
    font-family: Ink Free;
    font-weight: 700;
    text-align: center;
}

.web-head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
}

.web-head img {
    width: 300px;
    margin-left: 400px;
}

.web-head img:hover {
    transform: rotate(360deg);
    transition-duration: 5s;

}

.web-head-title h3 {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 100px;
    font-family: MV Boli;
}

.web-head-title h4 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 170px;
    font-family: Segoe Script;
}